<!doctype html>
<html lang='{{languageCode}}'>
<head>
    <meta charset="UTF-8">
    <title>{{pageTitle}}</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway:100,300,400,600" rel="stylesheet">

    <link href="/stylesheets/style.css" rel="stylesheet"></link>

    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body class="login">
<header>
</header>

    <main>
        {% block main %}
        {% endblock %}
    </main>

<footer>
</footer>

</body>
</html>