{% extends "layouts/layout.html" %}



{% block main %}


<div class="home-buttons">
    <a class="shadow-element button" href="/user/search">
        <span class="text">Buscar usuarios</span>
        <img class="icon" src="/images/search-icon.svg">

    </a>

    <a class="shadow-element button" href="/me/friends">
        <span class="text">Ver amigos</span>
        <img class="icon" src="/images/view-friends.svg">

    </a>

    <a class="shadow-element button" href="/me/sharelocation">
        <span class="text">Activar rastreo</span>
        <img class="icon" src="/images/share-location-icon.svg">
    </a>


</div>

{% endblock %}
