
<div  id="user-bar">
    <div class="user">

        <figure @click="viewNotifications" class="avatar">
            <img v-bind:src="user.picture">
            <figcaption v-show="notificationsCount > 0" class="notifications-icon">
                <span  class="notifications-count" v-text="notificationsCount"></span>

            </figcaption>
        </figure>
        <div class="user-data">

            <span class="name" v-text="user.name"></span>
            <span class="surname" v-text="user.surname"></span>

        </div>


    </div>


    <vue-modaltor
            :visible="showNotifications"
            @hide="hideModal"
            :resize-width='{1200:"60%",992:"80%",768:"90%"}'
    >
        <ul class="notifications" v-if="notifications">
            <li class="notification" v-for="notification in notifications" v-if="notification.data.status != 3">

                <template v-if="notification.data.type == 'friendship-update' ">


                    <a v-bind:href="getNotificationLink(notification.data)"  class="friendship-update">

                        <figure class="user-avatar">
                            <img v-bind:src="notification.data.user.picture">

                        </figure>
                        <div class="notification-data">
                            <span class="name" v-text="notification.data.user.name"></span>
                            <span class="surname" v-text="notification.data.user.surname"></span>

                            <p class="text">

                                <template v-if="notification.data.status==1">desea ser tu amigo/a</template>
                                <template v-if="notification.data.status==2">ahora es tu amigo/a</template>
                            </p>
                        </div>
                    </a>


                </template>



                                <template v-if="notification.data.type == 'share-location-alert' ">


                                    <a v-bind:href="getNotificationLink(notification.data)"  class="share-location-alert">

                                        <figure class="user-avatar">
                                            <img v-bind:src="notification.data.user.picture">

                                        </figure>
                                        <div class="notification-data">
                                            <span class="name" v-text="notification.data.user.name"></span>
                                            <span class="surname" v-text="notification.data.user.surname"></span>

                                            <p class="text">
                                              esta compartiendo su ubicación
                                            </p>
                                        </div>
                                    </a>


                                </template>



            </li>
        </ul>




    </vue-modaltor>

</div>


<script>


    (function () {

        //TODO: fire on visibility change (when is seen)
        var usr = Cookies.getJSON("usr");
          var userBar =  new Vue({
            el: '#user-bar',
            data: {
                notificationsCount: 0,
                user:usr,
                showNotifications:false,
                notifications:[]
            },
            methods:{
                viewNotifications:function () {


                    if(this.notifications.length)
                    {
                        this.showNotifications = true;
                    }

                },
                hideModal:function(){
                    markAsSeenNotifications();
                    this.showNotifications = false
                },
                getNotificationLink:function (data) {

                    if(data.type == 'friendship-update')
                    {
                        switch (data.status)
                        {
                            case 1:

                                return '/me/friends/pending';

                                break;

                            default:

                                return '';

                                break;
                        }
                    }
                    else if(data.type == 'share-location-alert')
                    {

                      return '/user/viewlocation?id='+data.user._id;
                    }

                }
            }
        });

        function markAsSeenNotifications() {

            Cookies.remove('notifications',{path:'/'});
            //TODO: handle ajax errors
            axios({
                method:'post',
                url:'/me/readnotifications'
            })
                .then(function(response) {

                    Vue.set(userBar,'notifications',[]);
                    Vue.set(userBar,'notificationsCount',0);


                });




        }

        function getNotifications(markAsSeen,callback) {

            var notifications = (Cookies.getJSON("notifications"))?Cookies.getJSON("notifications"):[];

            if(notifications.length > 0)
            {
                return callback(notifications);
            }


            //TODO: handle ajax errors
            axios({
                method:'get',
                url:'/me/notifications'
            })
                .then(function(response) {



                    var notifications = response.data.results;

                    Cookies.set('notifications',JSON.stringify(notifications));

                    if(markAsSeen)
                    {
                        markAsSeenNotifications();
                    }


                    callback(notifications);



                });

            /*
            var usr = Cookies.getJSON("usr");

            var notifications = [];

            if(usr.notifications)
            {
                Array.prototype.push.apply(notifications, usr.notifications);

            }

            var cookieNotifications = (Cookies.getJSON("notifications"))?Cookies.getJSON("notifications"):[];


            Array.prototype.push.apply(notifications,cookieNotifications);
            */



        }

      getNotifications(false,function (results) {

          userBar.notificationsCount = results.length;
              userBar.notifications = results;
        });


        wse.bind('notification',function (data) {


            if(data.type='friendship-update' && data.data.status == 3)
            {
                return false;
            }


            userBar.notificationsCount++;

            userBar.notifications.push(data);

            Cookies.set('notifications',JSON.stringify(userBar.notifications));


        })
        })();


</script>

<div v-bind:class="className" id="message-bar" v-if="text && text != ''">
  <p v-text="text">
  </p>
  <span @click="close" class="close-message">
    <img src="/images/close.svg">
    </span>
</div>

<script>

var  messageBar =  new Vue({
  el: '#message-bar',
  data: {
    text:"",
    className:{}
  },
  methods:{
    close:function(){
      this.text = "";
      this.className = {};
    }
  }
});
</script>

<div id="notification-prompt-bar" v-if="openPromptBar">
  <img @click="enableNotifications" src="/images/notifications-bell-button.svg">
  <span @click="close" class="close-message">
    <img src="/images/close.svg">
    </span>
</div>

<link rel="manifest" href="/manifest.json" />
<script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
<script>



    var openPromptBar = false;
     var  promptBarApp = new Vue({
      el: '#notification-prompt-bar',
      data: {
        openPromptBar:openPromptBar
      },
      methods:{
        close:function(){
          this.openPromptBar = false;
        },
        disableNotifications:function()
        {
              OneSignal.setSubscription(false);
        },
        enableNotifications:function() {

              OneSignal.setSubscription(true);
              OneSignal.registerForPushNotifications();
        }
      }
    });


      var OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "945da558-d1b9-481b-9ff2-888edaf56bc2",
          autoRegister: false,
          notifyButton: {
            enable: false,
          },
            welcomeNotification: {
                        disable: true
            }
        });


        OneSignal.on('subscriptionChange', function (isSubscribed) {

                   if (isSubscribed) {
                       promptBarApp.openPromptBar = false;
                   } else {
                       promptBarApp.openPromptBar = true;
                   }

               });

               OneSignal.isPushNotificationsEnabled(function (isEnabled) {

                   if (isEnabled) {
                       promptBarApp.openPromptBar = false;
                   } else {
                       promptBarApp.openPromptBar = true;
                   }

               });





      });

</script>
